<title>CircleCI</title>
<div class="gridster ready">
  <ul>
    <!-- Row 1 -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="repo-id" data-view="CircleCi" data-unordered="true" data-title="Repository 1"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dashing-circleci" data-view="CircleCi" data-unordered="true" data-title="Dashing CircleCI"></div>
    </li>
  </ul>
</div>
